@use "../../styles/config";

@use "../../styles/carousel";

@use "./skills-dark-mode";

/* Skills */
.skills {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: config.$color-light-gray;

  .swiper-wrapper {
    .swiper-slide {
      &:hover {
        .card {
          .skill-name {
            opacity: 1;
            bottom: calc(50% - 3rem);
          }
        }
      }
    }
  }

  .skill-descriptions {
    margin-top: 3rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style-type: none;

      li {
        text-align: center;
        color: config.$color-base;
      }
    }
  }
}
