@use "../../styles/config";

@use "./projects-dark-mode";

/* Projects */
.projects {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: config.$color-base;

  /* Desktop */
  @media screen and (min-width: config.$media-desktop) {
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
  }
}
