@use "../../styles/config";

/* Aside Navigator Menu */
.aside-navigator-menu {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  padding: 1.5rem;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 6rem;
  left: -100vw;
  top: 0;
  background-color: config.$color-base;
  overflow: hidden;
  box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
  transition: all ease-in-out 0.5s;

  /* Tablet */
  @media screen and (min-width: config.$media-tablet-xs) {
    height: 10rem;
  }

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    gap: 3rem;
    flex-direction: column;
    width: 13rem;
    height: 100vh;
    left: 0;

    &:hover,
    &:focus,
    &:focus-within {
      width: 16rem;

      nav {
        ul {
          li {
            transform: translateX(0);

            a {
              span {
                position: initial;
                opacity: 1;
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }

  &.active {
    left: 0;
  }

  .controls {
    display: flex;
    align-items: center;
    padding: 0px;

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      padding: 0px;
    }

    .dark-mode-switch-button {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 0rem;
      color: config.$color-blue-base;

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        font-size: 1.4rem;
        gap: 1rem;
      }

      svg {
        display: none;

        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          display: flex;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    ul {
      display: flex;
      gap: 0.5rem;
      width: 100%;
      list-style-type: none;

      /* Mobile m */
      @media screen and (min-width: config.$media-mobile-m) {
        gap: 2rem;
      }

      /* Tablet */
      @media screen and (min-width: config.$media-tablet-xs) {
        gap: 3rem;
      }

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
      }

      li {
        display: flex;
        position: relative;
        transition: all ease-in-out 0.5s;

        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          transform: translateX(3rem);
        }

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.5rem;
          text-decoration: none;
          cursor: pointer;
          transition: all ease-in-out 0.5s;

          /* Mobile M */
          @media screen and (min-width: config.$media-mobile-m) {
            padding: 1rem 0;
          }

          &:hover,
          &:focus {
            svg,
            span {
              color: config.$color-blue-base;
            }
          }

          svg {
            color: config.$color-light-gray;
            transition: all ease-in-out 0.5s;
          }

          span {
            display: none;
            color: config.$color-light-gray;
            transition: all ease-in-out 0.5s;
            opacity: 1;
            position: initial;
            margin-left: 0px;

            /* Only Tablets */
            @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
              display: flex;
            }

            /* Desktop */
            @media screen and (min-width: config.$media-desktop-xs) {
              opacity: 0;
              position: absolute;
              display: flex;
              margin-left: 3rem;
              width: 8.5rem;
            }
          }
        }
      }
    }
  }
}

/* Aside Navigator Menu Dark Mode */
.dark-mode {
  .aside-navigator-menu {
    background-color: config.$color-base-dark-theme;

    .controls {
      .dark-mode-switch-button {
        color: config.$color-base-inverted-dark-theme;
      }
    }

    nav {
      ul {
        li {
          a {
            &:hover,
            &:focus {
              svg,
              span {
                color: config.$color-base-inverted-dark-theme;
              }
            }
          }
        }
      }
    }
  }
}
