@use "../../styles/config";

@use "./switch-button-dark-mode";

/* Switch button */
.switch-button {
  position: relative;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2rem;
  border: none;
  background-color: config.$color-blue-base;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &[data-state="checked"] {
    span {
      left: calc(100% - 2.25rem);
    }
  }

  span {
    display: flex;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: config.$color-base;
    transition: all ease-in-out 0.3s;
  }
}
