@use "../../styles/config";

@use "./about-dark-mode";

/* About */
.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: config.$color-base;

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      flex-direction: row;
      gap: 5rem;
    }
  }

  .image {
    display: none;
    justify-content: center;

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      display: block;
    }
  }

  .description-wrapper {
    .description {
      p {
        text-align: center;
        white-space: break-spaces;
        color: config.$color-light-gray;

        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          text-align: left;
        }
      }
    }
  }
}
