[data-animate="top"] {
  opacity: 0;
  transform: translate3d(0px, -5rem, 0px);
  transition: all ease-in-out 0.5s;

  &.animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

[data-animate="bottom"] {
  opacity: 0;
  transform: translate3d(0px, 5rem, 0px);
  transition: all ease-in-out 0.5s;

  &.animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

[data-animate="left"] {
  opacity: 0;
  transform: translate3d(-5rem, 0px, 0px);
  transition: all ease-in-out 0.5s;

  &.animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

[data-animate="right"] {
  opacity: 0;
  transform: translate3d(5rem, 0px, 0px);
  transition: all ease-in-out 0.5s;

  &.animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
