@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

$color-white: #fff;
$color-black: #000;
$color-light-gray: #f5f5f5;
$color-success: #4cbb17;
$color-error: #e2555b;
$color-gradient: linear-gradient(
  150deg,
  rgba(245, 245, 245, 1) 50%,
  rgba(0, 191, 255, 1) 100%
);

/* Default colors */
$color-base: #654597;
$color-base-dark: #462f63;
$color-light-base: #8c5aa5;
$color-blue-base: #00bfff;

/* Dark theme colors */
$color-base-dark-theme: #1d0831;
$color-base-inverted-dark-theme: #ff00ff;

$media-mobile-sm: 320px;
$media-mobile-m: 375px;
$media-mobile-l: 410px;
$media-tablet-xs: 600px;
$media-tablet: 768px;
$media-desktop-xs: 1024px;
$media-desktop-sm: 1280px;
$media-desktop: 1300px;

@mixin font-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

@mixin font-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@mixin font-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
