@use "./config";

.swiper {
  .swiper-wrapper {
    padding-bottom: 30px;
  }

  .swiper-pagination.swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &.swiper-pagination-horizontal {
      height: 30px;
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid config.$color-base-dark;
      background-color: config.$color-light-gray;
      transition: transform 0.3s;

      &:hover,
      &.swiper-pagination-bullet-active {
        border: 1px solid config.$color-base-dark;
        background-color: config.$color-blue-base;
        transform: scale(1.5);
      }
    }
  }
}

/* Dark Mode */
.landing-page {
  &.dark-mode {
    .swiper {
      .swiper-pagination.swiper-pagination-bullets {
        .swiper-pagination-bullet {
          border: 1px solid config.$color-base-dark-theme;

          &:hover,
          &.swiper-pagination-bullet-active {
            border: 1px solid config.$color-base-dark-theme;
            background-color: config.$color-base-inverted-dark-theme;
          }
        }
      }
    }
  }
}
