@use "./config";

.swiper {
  .swiper-pagination.swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &.swiper-pagination-horizontal {
      height: 30px;
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid config.$color-ultra-violet;
      background-color: config.$color-gray;
      transition: transform 0.3s;

      &:hover,
      &.swiper-pagination-bullet-active {
        background: config.$color-ultra-violet;
        transform: scale(1.5);
      }
    }
  }
}

.landing-page {
  &.synthwavemode {
    .swiper {
      .swiper-pagination.swiper-pagination-bullets {
        .swiper-pagination-bullet {
          &:hover,
          &.swiper-pagination-bullet-active {
            background-color: config.$color-gray;
          }
        }
      }
    }
  }
}
