@use "./config";

/* Global Carousel */
.swiper {
  .swiper-wrapper {
    padding-bottom: 3rem;
  }

  .swiper-pagination.swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &.swiper-pagination-horizontal {
      height: 3rem;
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 1rem;
      height: 1rem;
      border: 0.1rem solid config.$color-base-dark;
      background-color: config.$color-light-gray;
      transition: transform 0.3s;

      &:hover,
      &.swiper-pagination-bullet-active {
        border: 0.1rem solid config.$color-base-dark;
        background-color: config.$color-blue-base;
        transform: scale(1.5);
      }
    }
  }
}

/* Global Carousel Dark Mode */
.dark-mode {
  .swiper {
    .swiper-pagination.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        border: 0.1rem solid config.$color-base-dark-theme;

        &:hover,
        &.swiper-pagination-bullet-active {
          border: 0.1rem solid config.$color-base-dark-theme;
          background-color: config.$color-base-inverted-dark-theme;
        }
      }
    }
  }
}
