@use "./config";

.skill-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 15px;
  border: 1px solid config.$color-ultra-violet;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin: 10px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);

    .skill-name {
      opacity: 1;
      bottom: calc(50% - 30px);
    }
  }

  .skill-image img {
    max-width: 100%;
  }

  .skill-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 30px);
    height: 60px;
    padding: 15px;
    background-color: config.$color-ultra-violet;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(101 69 151 / 40%);
    position: absolute;
    opacity: 0;
    bottom: 0;
    transition: 0.3s;

    h4 {
      color: config.$color-white;
    }
  }

  .progress-title {
    margin-bottom: 5px;

    span {
      font-size: 14px;
      color: config.$color-bg-dark-theme;
    }
  }
}

.landing-page {
  &.synthwavemode {
    .skill-card {
      background-color: config.$color-gray;
      border: 1px solid config.$color-ultra-violet;

      .skill-name {
        background-color: config.$color-gray;
        border: 1px solid config.$color-ultra-violet;

        h4 {
          color: config.$color-ultra-violet;
        }
      }

      .progress-title {
        span {
          color: config.$color-ultra-violet;
        }
      }
    }
  }
}
