@use "./config";

.skill-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid config.$color-dark-base;
  background-color: config.$color-light-gray;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  transition: all ease-in-out 0.3s;

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    &:hover {
      transform: scale(1.05);

      .skill-name {
        opacity: 1;
        bottom: calc(50% - 30px);
      }
    }
  }

  .skill-image img {
    max-width: 100%;
    height: auto;
  }

  .skill-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: calc(100% - 30px);
    height: 60px;
    padding: 15px;
    border-radius: 10px;
    background-color: config.$color-base;
    box-shadow: 0 0 20px rgb(101 69 151 / 40%);
    transition: all ease-in-out 0.3s;

    h4 {
      color: config.$color-blue-base;
      font-size: 1.2rem;

      /* Mobile M */
      @media screen and (min-width: config.$media-mobile-m) {
        font-size: 1.4rem;
      }
    }
  }

  .progress-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;

    span {
      @include config.font-subtitle;
      font-size: 1.2rem;
      color: config.$color-dark-base;

      /* Mobile M */
      @media screen and (min-width: config.$media-mobile-m) {
        font-size: 1.4rem;
      }
    }
  }
}

/* Mobile Card Effect */
.swiper-wrapper {
  .swiper-slide {
    &.swiper-slide-active,
    &.swiper-slide-next,
    &.swiper-slide-next + .swiper-slide {
      @media screen and (max-width: config.$media-tablet) {
        .skill-card {
          transform: scale(1.05);

          .skill-name {
            opacity: 1;
            bottom: calc(50% - 30px);
          }
        }
      }
    }
  }
}

/* Dark Mode */
.landing-page {
  &.dark-mode {
    .skill-card {
      background-color: config.$color-gray;
      border: 1px solid config.$color-base;

      .skill-name {
        background-color: config.$color-gray;
        border: 1px solid config.$color-base;

        h4 {
          color: config.$color-base;
        }
      }

      .progress-title {
        span {
          color: config.$color-base;
        }
      }
    }
  }
}
