@use "./config";

.about {
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: config.$color-light-gray;

  /* Desktop */
  @media screen and (min-width: config.$media-desktop) {
    margin-top: 100vh;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  }
}
