@use "./config";

/* Aside Navigator Menu */
.aside-navigator-menu {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  padding: 1.5rem;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 10rem;
  left: 0;
  top: -11rem;
  background-color: config.$color-base;
  box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
  transition: top ease-in-out 0.3s;

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    gap: 3rem;
    flex-direction: column;
    width: 13rem;
    height: 100vh;
    top: 0;
  }

  &.active {
    top: 0;
  }

  .controls {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0px;

    /* Mobile M */
    @media screen and (min-width: config.$media-mobile-m) {
      padding: 1rem 1rem 1rem 0px;
    }

    /* Mobile L*/
    @media screen and (min-width: config.$media-mobile-l) {
      padding: 1.5rem 1.5rem 1.5rem 0px;
    }

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      padding: 0px;
    }

    .dark-mode-switch-button {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 0rem;
      color: config.$color-blue-base;

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        font-size: 1.4rem;
        gap: 1rem;
      }

      svg {
        display: none;

        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          display: flex;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    ul {
      display: flex;
      gap: 0.5rem;
      width: 100%;
      list-style-type: none;

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
      }

      li {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0.5rem;

        /* Mobile M */
        @media screen and (min-width: config.$media-mobile-m) {
          padding: 1rem;
        }

        /* Mobile L*/
        @media screen and (min-width: config.$media-mobile-l) {
          padding: 1.5rem;
        }

        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          height: 10rem;
          width: 100%;
          padding: 0px;

          &:hover,
          &:focus {
            a {
              padding-right: 3.5rem;

              .menu-name {
                opacity: 1;
                left: calc(100% - 4.5rem);
                transition: all ease-in-out 0.3s;
              }
            }
          }
        }

        &:first-child {
          /* Desktop */
          @media screen and (max-width: config.$media-desktop-xs) {
            padding: 1.5rem 1.5rem 1.5rem 0;
          }
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          text-decoration: none;
          transition: all ease-in-out 0.3s;
          color: config.$color-light-gray;
          cursor: pointer;

          .menu-name {
            display: none;

            /* Desktop */
            @media screen and (min-width: config.$media-desktop-sm) {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              left: 0;
              top: calc(50% - 5rem);
              opacity: 0;
              width: 10rem;
              height: 10rem;
              border-radius: 50%;
              background-color: config.$color-base;
              transition: all ease-in-out 0.3s;
              box-shadow: 2.5rem 0px 2rem -2rem rgb(0 0 0 / 20%);

              &::before,
              &::after {
                content: "";
                width: 4rem;
                height: 0.5rem;
                position: absolute;
                background-color: config.$color-base;
              }

              &::before {
                top: -0.3rem;
                transform: rotate(20deg);
              }

              &::after {
                bottom: -0.3rem;
                transform: rotate(-20deg);
              }

              .content {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 9rem;
                height: 9rem;
                border-radius: 50%;
                border: 0.1rem solid config.$color-blue-base;
                color: config.$color-base-dark;
                background-color: config.$color-light-gray;
                box-shadow: 0 0 1rem rgb(0 0 0 / 20%);

                span {
                  @include config.font-title;
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Aside Navigator Menu Dark Mode */
.dark-mode {
  .aside-navigator-menu {
    background-color: config.$color-base-dark-theme;

    .controls {
      .dark-mode-switch-button {
        color: config.$color-base-inverted-dark-theme;
      }
    }

    nav {
      ul {
        li {
          a {
            .menu-name {
              background-color: config.$color-base-dark-theme;

              &::before,
              &::after {
                background-color: config.$color-base-dark-theme;
              }

              .content {
                border: 0.1rem solid config.$color-base-inverted-dark-theme;
              }
            }
          }
        }
      }
    }
  }
}
