@use "./config";

.landing-page {
  transition: all ease-in-out 0.3s;

  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      color: config.$color-bg-dark-theme;
    }
  }

  &.synthwavemode {
    color: config.$color-gray;

    .section-title {
      h2 {
        color: config.$color-gray;
      }
    }
  }
}
