@use "./config";

.landing-page {
  transition: all ease-in-out 0.3s;

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    margin-top: 0px;
  }

  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      @include config.font-title;
      color: config.$color-base-dark;

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        font-size: 3rem;
      }
    }
  }

  .section-title-inverted {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      @include config.font-title;
      color: config.$color-blue-base;

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        font-size: 3rem;
      }
    }
  }
}

/* Dark Mode */
.landing-page {
  &.dark-mode {
    .section-title {
      h2 {
        color: config.$color-light-gray;
      }
    }

    .section-title-inverted {
      h2 {
        color: config.$color-base-inverted-dark-theme;
      }
    }
  }
}
