@use "./config";

.landing-page {
  transition: all ease-in-out 0.3s;

  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      color: config.$color-ultra-violet;
    }
  }

  &.synthwavemode {
    background-color: #1d0831;
    background-image: url("../assets/jpg/sunset-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: config.$color-white;

    .section-title {
      h2 {
        color: config.$color-white;
      }
    }
  }
}
