@use "./config";

/* Progress Bar */
.progress-bar-wrapper {
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid config.$color-base;

  .progress-bar {
    position: relative;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: config.$color-base;

    span {
      @include config.font-title;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -1rem;
      right: 0;
      font-size: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      color: config.$color-light-gray;
      background-color: config.$color-base;
    }
  }
}

/* Progress Bar Dark Mode */
