@use "./config";

.resume {
  position: initial;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  color: config.$color-dark-base;
  background: config.$color-gradient;

  /* Tablet */
  @media screen and (min-width: config.$media-tablet) {
    height: 75vh;
  }

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    /* Only tablets */
    @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
      flex-direction: row;
    }

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      flex-direction: row;
      width: 1100px;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 260px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid config.$color-base;
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      transition: all ease-in-out 0.3s;

      /* Mobile M */
      @media screen and (min-width: config.$media-mobile-m) and (max-width: config.$media-tablet-xs) {
        width: 290px;
        height: 290px;
      }

      /* Only tablets */
      @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
        width: 215px;
        height: 215px;
      }

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        width: 290px;
        height: 290px;

        &:hover {
          transform: scale(1.05);
        }
      }

      img {
        width: 225px;

        /* Mobile M */
        @media screen and (min-width: config.$media-mobile-m) and (max-width: config.$media-tablet-xs) {
          width: 235px;
        }

        /* Only tablets */
        @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
          width: 175px;
        }

        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          width: 235px;
        }
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      width: 100%;
      min-height: 200px;
      transition: all ease-in-out 0.3s;

      /* Only tablets */
      @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
        width: calc(100% - 215px);
      }

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        width: calc(100% - 290px);
        padding: 15px;
      }

      .name-position {
        text-shadow: 2px 2px config.$color-blue-base;

        .name,
        .position {
          h2 {
            @include config.font-subtitle;
            font-size: 1.8rem;
            text-align: center;

            /* Mobile M */
            @media screen and (min-width: config.$media-mobile-m) {
              font-size: 2rem;
            }

            /* Tablet */
            @media screen and (min-width: config.$media-tablet-xs) {
              font-size: 2.2rem;
              text-align: left;
            }

            /* Desktop */
            @media screen and (min-width: config.$media-desktop-sm) {
              font-size: 2.4rem;
            }
          }
        }

        .name {
          h1 {
            font-size: 2.6rem;
            text-align: center;

            /* Mobile M */
            @media screen and (min-width: config.$media-mobile-m) {
              font-size: 3rem;
            }

            /* Tablet */
            @media screen and (min-width: config.$media-tablet-xs) {
              font-size: 4rem;
              text-align: left;
            }

            /* Desktop */
            @media screen and (min-width: config.$media-desktop-sm) {
              font-size: 6rem;
            }
          }
        }
      }

      .resume-description {
        color: config.$color-base;
        text-align: center;

        /* Desktop */
        @media screen and (min-width: config.$media-tablet-xs) {
          text-align: left;
        }

        p {
          a {
            color: config.$color-base;

            &:hover,
            &:focus {
              color: config.$color-light-base;
            }
          }
        }
      }
    }
  }
}

/* Dark Mode */
.landing-page {
  &.dark-mode {
    .resume {
      background: url("../assets/jpg/sunset-city.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

      .container {
        .image {
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
        }

        .infos {
          border-radius: 20px;
          box-shadow: 0 0 10px rgb(0 0 0 / 20%);
          background-color: transparent;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid config.$color-blue-base;
        }
      }
    }
  }
}
