@use "./config";

/* Resume */
.resume {
  position: initial;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: config.$color-base-dark;
  background: config.$color-gradient;

  /* Tablet */
  @media screen and (min-width: config.$media-tablet) {
    height: 75vh;
  }

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 3rem;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    /* Only tablets */
    @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
      flex-direction: row;
    }

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      flex-direction: row;
      width: 110rem;
    }

    .image-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      padding: 1.5rem;

      /* Desktop */
      @media screen and (min-width: config.$media-tablet-xs) {
        flex-direction: row;
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
      border-radius: 1rem;

      img {
        width: 22.5rem;

        /* Mobile M */
        @media screen and (min-width: config.$media-mobile-m) and (max-width: config.$media-tablet-xs) {
          width: 23.5rem;
        }

        /* Only tablets */
        @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
          width: 17.5rem;
        }

        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          width: 23.5rem;
        }
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      width: 100%;
      min-height: 20rem;
      transition: all ease-in-out 0.3s;

      /* Only tablets */
      @media screen and (min-width: config.$media-tablet-xs) and (max-width: config.$media-desktop-xs) {
        width: calc(100% - 21.5rem);
      }

      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        width: calc(100% - 29rem);
        padding: 1.5rem;
      }

      .name-position {
        text-shadow: 0.2rem 0.2rem config.$color-blue-base;

        .name h2,
        .position h3 {
          @include config.font-subtitle;
          font-size: 1.8rem;
          text-align: center;

          /* Mobile M */
          @media screen and (min-width: config.$media-mobile-m) {
            font-size: 2rem;
          }

          /* Tablet */
          @media screen and (min-width: config.$media-tablet-xs) {
            font-size: 2.2rem;
            text-align: left;
          }

          /* Desktop */
          @media screen and (min-width: config.$media-desktop-sm) {
            font-size: 2.4rem;
          }
        }

        .name {
          h1 {
            opacity: 0;
            font-size: 2.6rem;
            text-align: center;

            &::after {
              content: "|";
              margin-left: 0.5rem;
              opacity: 1;
              animation: intervalReveal 0.7s infinite;
            }

            /* Mobile M */
            @media screen and (min-width: config.$media-mobile-m) {
              min-height: 9.7rem;
              font-size: 4rem;
            }

            /* Tablet */
            @media screen and (min-width: config.$media-tablet-xs) {
              min-height: 12.1rem;
              font-size: 5rem;
              text-align: left;
            }

            /* Desktop */
            @media screen and (min-width: config.$media-desktop-sm) {
              min-height: 19.3rem;
              font-size: 8rem;
            }

            @keyframes intervalReveal {
              0%,
              100% {
                opacity: 1;
              }
              50% {
                opacity: 0;
              }
            }
          }
        }
      }

      .resume-description {
        color: config.$color-base;
        text-align: center;

        /* Desktop */
        @media screen and (min-width: config.$media-tablet-xs) {
          text-align: left;
        }

        p {
          a {
            color: config.$color-base;

            &:hover,
            &:focus {
              color: config.$color-light-base;
            }
          }
        }
      }
    }
  }
}

/* Resume Dark Mode */
.dark-mode {
  .resume {
    color: config.$color-light-gray;
    background: url("../assets/jpg/sunset-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .container {
      .image-infos {
        /* Desktop */
        @media screen and (min-width: config.$media-desktop-sm) {
          border-radius: 1rem;
          background-color: transparent;
          backdrop-filter: blur(0.5rem);
          -webkit-backdrop-filter: blur(0.5rem);
        }
      }

      .infos {
        .name-position {
          text-shadow: 0.2rem 0.2rem config.$color-base-inverted-dark-theme;
        }

        .resume-description {
          color: config.$color-light-gray;

          p {
            a {
              color: config.$color-light-gray;

              &:hover,
              &:focus {
                color: config.$color-light-gray;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}
