@use "./config";

.resume {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: config.$color-gray;
  background: config.$color-bg-theme;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1100px;

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 290px;
      height: 290px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      background-color: config.$color-ultra-violet;
      transition: all ease-in-out 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 225px;
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      padding: 15px;
      width: calc(100% - 290px);
      min-height: 200px;
      transition: all ease-in-out 0.3s;

      .name-position {
        .name,
        .position {
          h2 {
            font-size: 24px;
          }

          h1 {
            font-size: 32px;
          }
        }
      }

      .resume-description {
        &:hover {
          p {
            height: 120px;
          }
        }

        p {
          height: 60px;
          overflow: hidden;
          transition: height ease-in-out 0.3s;
        }
      }
    }
  }
}

.landing-page {
  &.synthwavemode {
    .resume {
      background-image: url("../assets/jpg/sunset-city.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

      .container {
        .image {
          background-color: transparent;
          backdrop-filter: blur(5px);
        }

        .infos {
          border-radius: 20px;
          box-shadow: 0 0 10px rgb(0 0 0 / 20%);
          background-color: config.$color-ultra-violet;
          background-color: transparent;
          backdrop-filter: blur(5px);
        }
      }
    }
  }
}
