@use "./config";

@use "./global-carousel";

@use "./skill-card";

.skills {
  margin-top: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: config.$color-gray;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);

  .swiper-wrapper {
    padding-bottom: 30px;

    .swiper-slide {
      &:hover {
        .card {
          .skill-name {
            opacity: 1;
            bottom: calc(50% - 30px);
          }
        }
      }
    }
  }
}

.landing-page {
  &.synthwavemode {
    .skills {
      background-color: config.$color-bg-dark-theme;
      backdrop-filter: blur(8px);
    }
  }
}
