@use "./config";

@use "./global-carousel";

@use "./skill-card";

.skills {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: config.$color-light-gray;

  .swiper-wrapper {
    .swiper-slide {
      &:hover {
        .card {
          .skill-name {
            opacity: 1;
            bottom: calc(50% - 30px);
          }
        }
      }
    }
  }
}

/* Dark Mode */
.landing-page {
  &.dark-mode {
    .skills {
      background-color: config.$color-base;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
  }
}
