@use "./config";

@use "./global-carousel";

@use "./skill-card";

.skills {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: config.$color-light-gray;

  /* Tablet */
  @media screen and (min-width: config.$media-tablet) {
    margin-top: 100vh;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  }

  .swiper-wrapper {
    .swiper-slide {
      &:hover {
        .card {
          .skill-name {
            opacity: 1;
            bottom: calc(50% - 30px);
          }
        }
      }
    }
  }
}

/* Dark Mode */
.landing-page {
  &.dark-mode {
    .skills {
      background-color: config.$color-base-dark-theme;
      backdrop-filter: blur(8px);
    }
  }
}
