@use "./config";

.social-medias {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid config.$color-base;
  list-style: none;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  .social-media {
    a {
      display: flex;
      padding: 10px;
    }
  }
}

/* Dark Mode */
.landing-page {
  &.dark-mode {
    .social-medias {
      backdrop-filter: unset;
      -webkit-backdrop-filter: unset;
    }
  }
}
