@use "./config";
@use "./animations";

/* RESET */
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include config.font-regular;
  font-size: 1.6rem;
  color: config.$color-black;
  background-color: config.$color-light-gray;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: config.$color-base;
}

body.dark-mode::-webkit-scrollbar-track {
  background: config.$color-base-dark-theme;
}

body::-webkit-scrollbar-thumb {
  background-color: config.$color-blue-base;
  border-radius: 10px;
  border: 3px solid config.$color-base;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background-color: config.$color-base-inverted-dark-theme;
  border: 3px solid config.$color-base-dark-theme;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #00bfff #654597;

  &.dark-mode {
    scrollbar-color: #ff00ff #1d0831;
  }
}

input:focus,
textarea:focus,
button:focus,
a:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

/* GLOBAL CLASSES */
.container {
  max-width: calc(100% - 30px);
  margin: 0px auto;
  width: 100%;

  @media screen and (min-width: config.$media-desktop) {
    width: 1270px;
    padding-left: 130px;
  }
}
