@use "./config";
@use "./animations";

/* Reset */
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include config.font-regular;
  font-size: 1.6rem;
  color: config.$color-black;
  background-color: config.$color-light-gray;
  scroll-behavior: smooth;
}

body.dark-mode {
  background-color: config.$color-base-dark-theme;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: config.$color-light-gray;
}

body::-webkit-scrollbar-thumb {
  background-color: config.$color-blue-base;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background-color: config.$color-base-inverted-dark-theme;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #00bfff #654597;

  &.dark-mode {
    scrollbar-color: #ff00ff #1d0831;
  }
}

/* Global Classes */
.container {
  max-width: calc(100% - 3rem);
  margin: 0px auto;
  width: 100%;

  /* Desktop sm*/
  @media screen and (min-width: config.$media-desktop-sm) {
    width: 95rem;
    padding-left: 13rem;
  }

  /* Desktop */
  @media screen and (min-width: config.$media-desktop) {
    width: 127rem;
  }
}

.main-page {
  transition: all ease-in-out 0.3s;

  /* Desktop */
  @media screen and (min-width: config.$media-desktop-sm) {
    margin-top: 0px;
  }
}

.section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  h2 {
    @include config.font-title;
    color: config.$color-base-dark;

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      font-size: 3rem;
    }
  }
}

.section-title-inverted {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  h2 {
    @include config.font-title;
    color: config.$color-light-gray;

    /* Desktop */
    @media screen and (min-width: config.$media-desktop-sm) {
      font-size: 3rem;
    }
  }
}

/* Global Classes Dark Mode*/
.dark-mode {
  .section-title {
    h2 {
      color: config.$color-light-gray;
    }
  }
}
