@use "../../../styles/config";

/* Social Medias Dark Mode */
.dark-mode {
  .social-medias {
    background-color: config.$color-light-gray;
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
    border-radius: 1rem;
  }
}
