@use "../../../styles/config";

@use "./social-medias-dark-mode";

/* Social Medias */
.social-medias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;

  /* Desktop */
  @media screen and (min-width: config.$media-tablet-xs) {
    justify-content: flex-start;
  }

  .social-media {
    a {
      display: flex;
      padding: 1rem;
    }
  }
}
