@use "../../styles/config";

/* Contact Dark Mode */
.dark-mode {
  .contact {
    background: url("../../assets/jpg/sunset-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .blur-content {
      /* Desktop */
      @media screen and (min-width: config.$media-desktop-sm) {
        border-radius: 1rem;
        padding: 1.5rem;
        background-color: transparent;
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);
      }
    }

    .content {
      form {
        background-color: config.$color-base;

        input,
        textarea {
          &:focus {
            border-color: config.$color-base-inverted-dark-theme;
          }
        }
      }

      .option {
        color: config.$color-light-gray;

        &::before,
        &::after {
          background-color: config.$color-light-gray;
        }
      }

      .whatsapp-btn {
        color: config.$color-light-gray;

        &:hover,
        &:focus {
          color: config.$color-base-inverted-dark-theme;
        }
      }
    }
  }
}
