@use "../../styles/config";

@use "./not-found-dark-mode";

/* Not Found  */
.not-found {
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .section-title {
    h2 {
      font-size: 5rem;
    }
  }

  p {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  .btn.back-home-btn {
    font-size: 2.4rem;
    color: config.$color-light-gray;
    background-color: config.$color-base;
  }
}
